﻿@model SimpleBlog.ViewModels.PostsTag


@{
    ViewBag.Title = Model.Tag.Name;
}

<div class="panel panel-warning">
    <div class="panel-heading">
        Showing posts tagged with <strong>@Model.Tag.Name</strong>.
        <a class="pull-right" href="@Url.RouteUrl("Home")">Show All</a>
    </div>
</div>

@Html.Partial("_Posts",Model.Posts)