﻿@model SimpleBlog.Areas.Admin.ViewModels.UsersIndex

<h1>Users</h1>

<div class="btn-toolbar">
    <a href="@Url.Action("new")" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus" ></i> Create User</a>
</div>

<div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Success!</strong> You have been signed in successfully!
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var User in Model.Users){
            <tr>
                <td>@User.Id</td>
                <td>@User.Username</td>
                <td>@User.Email</td>
                <td>@string.Join(";",User.Roles.Select(rl=>rl.Name))</td>
                <td>
                    <div class="btn-group">
                        <a href="@Url.Action("Edit", new {User.Id })" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-edit"></i> Edit</a>                       
                        <a href="@Url.Action("Delete", new {User.Id })" class="btn btn-xs btn-danger" data-post="Are you sure to delete @User.Username ?"><i class="glyphicon glyphicon-remove"></i> Delete</a>
                        <a href="@Url.Action("ResetPassword", new {User.Id })" class="btn btn-xs btn-info"><i class="glyphicon glyphicon-lock"></i> Reset</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

