﻿@using System.Web.Optimization

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>@ViewBag.Title - SimpleBlog</title>
    @Styles.Render("~/Styles")

</head>
<body>
    
    <div class="site-header">
        <header class="container">
            <h1 class="page-header">
                <a href="@Url.RouteUrl("Home")">Awesome Stuff</a>
                <small>a simple blog powered by ASP.Net MVC</small>
            </h1>
        </header>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @RenderBody()
            </div>
            <div class="col-lg-4 sidebar">
                @Html.Action("Sidebar","Layout")
            </div>
        </div>
        <footer>
            &copy; @DateTime.UtcNow.Year
        </footer>
    </div>

    @Scripts.Render("~/scripts");
    @RenderSection("Scripts", false)

</body>
</html>