﻿@using System.Web.Optimization

@{
    Layout = null;
}
@helper SelectedTabClass(string tabName) { 
    if (tabName == ViewBag.SelectedTab) { 
        @: active
    }           
}

<!DOCTYPE html>
<html>
<head>
    <title>SimpleBlog Admin</title>
    @Styles.Render("~/admin/Styles")
</head>
<body>
    <div class="container">
        <ul class="nav nav-pills">
            <li class="@SelectedTabClass("posts")">
                @Html.ActionLink("Posts", "Index", "Posts", new { area = "admin" }, new { })
            </li>
            <li class="@SelectedTabClass("users")">
                @Html.ActionLink("Users", "Index", "Users", new { area = "admin" }, new { })
            </li>
            <li class="pull-right">
                @Html.RouteLink("Back To Website","Home")
            </li>
        </ul>
        @RenderBody()        
    </div>     
 
    @Scripts.Render("~/admin/scripts")

  
    @RenderSection("Scripts", false)

    <form class="hidden" id="anti-forgery-form">
        @Html.AntiForgeryToken()
    </form>


</body>
</html>